In [1]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("JupyterPySpark")
    .master("local[1]")
    .config("spark.sql.execution.arrow.pyspark.enabled", "false")
    .getOrCreate()
)

df = spark.createDataFrame(
    [
        ("A123", None, "alice@example.com", None, 34),
        ("B456", "Bob", None, None, None),
        ("C789", None, None, None, 27),
        ("D000", None, None, "Alt", None),
    ],
    ["id", "name_primary", "email", "name_backup", "age"]
)

df.show()

25/08/28 11:08:52 WARN Utils: Your hostname, EmmanuelPC resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/08/28 11:08:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/28 11:08:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+----+------------+-----------------+-----------+----+
|  id|name_primary|            email|name_backup| age|
+----+------------+-----------------+-----------+----+
|A123|        NULL|alice@example.com|       NULL|  34|
|B456|         Bob|             NULL|       NULL|NULL|
|C789|        NULL|             NULL|       NULL|  27|
|D000|        NULL|             NULL|        Alt|NULL|
+----+------------+-----------------+-----------+----+

In [3]:
from pyspark.sql.functions import coalesce, col, lit

In [4]:
df.select(coalesce(col('name_primary'),lit('toto') )).show()

+----------------------------+
|coalesce(name_primary, toto)|
+----------------------------+
|                        toto|
|                         Bob|
|                        toto|
|                        toto|
+----------------------------+

In [6]:
df.select(coalesce(col('name_primary'),col('age'),lit('toto') ).alias('secondary')).show()

+---------+
|secondary|
+---------+
|       34|
|      Bob|
|       27|
|     toto|
+---------+

In [7]:
df.show()

+----+------------+-----------------+-----------+----+
|  id|name_primary|            email|name_backup| age|
+----+------------+-----------------+-----------+----+
|A123|        NULL|alice@example.com|       NULL|  34|
|B456|         Bob|             NULL|       NULL|NULL|
|C789|        NULL|             NULL|       NULL|  27|
|D000|        NULL|             NULL|        Alt|NULL|
+----+------------+-----------------+-----------+----+

In [8]:
df.fillna({'name_primary':'Unknown' , 'name_backup':'Emma'}).show()

+----+------------+-----------------+-----------+----+
|  id|name_primary|            email|name_backup| age|
+----+------------+-----------------+-----------+----+
|A123|     Unknown|alice@example.com|       Emma|  34|
|B456|         Bob|             NULL|       Emma|NULL|
|C789|     Unknown|             NULL|       Emma|  27|
|D000|     Unknown|             NULL|        Alt|NULL|
+----+------------+-----------------+-----------+----+

In [9]:
df.filter( col('name_primary').isNull() ).show()

+----+------------+-----------------+-----------+----+
|  id|name_primary|            email|name_backup| age|
+----+------------+-----------------+-----------+----+
|A123|        NULL|alice@example.com|       NULL|  34|
|C789|        NULL|             NULL|       NULL|  27|
|D000|        NULL|             NULL|        Alt|NULL|
+----+------------+-----------------+-----------+----+

In [10]:
df.filter( col('name_primary').isNull() ).count()

3

In [11]:
df.filter( col('name_primary').isNotNull() ).count()

1

In [12]:
df.filter( col('name_primary').isNotNull() ).show()

+----+------------+-----+-----------+----+
|  id|name_primary|email|name_backup| age|
+----+------------+-----+-----------+----+
|B456|         Bob| NULL|       NULL|NULL|
+----+------------+-----+-----------+----+